*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

:root {
    /*colores*/
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);

}



.container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr ;
    background-color: var(--Light-grayish-blue);
    grid-template-areas: 
        "dan"
        "jona" 
        "jane" 
        "pat"  
        "kira";
    grid-gap: 2rem;
    
}
.container-info--dan{
    background-color: var(--Moderate-violet);
    grid-area: dan;
    color: var(--White);
    padding: 1rem;
    margin: 4rem 1rem 0rem 1rem;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.container-info--jona{
    background-color: var(--Very-dark-grayish-blue);
    grid-area: jona;
    height: fit-content;
    color: var(--White);
    margin: 0rem 1rem 0rem 1rem;
    padding: 1rem;  
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container-info--jane{
    background-color: white;
    grid-area: jane;
    margin: 0rem 1rem 0.1rem 1rem;
    padding: 1rem;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}


.container-info--pat{
    background-color: var(--Very-dark-blackish-blue);
    grid-area: pat;
    color: var(--White);
    margin: 0rem 1rem 0.1rem 1rem;
    padding: 1rem;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.container-info--kira{
    background-color: var(--White);
    grid-area: kira;
    margin: 0rem 1rem 4rem 1rem;
    padding: 1rem;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

img{
    position: relative;
    border-radius:150px;
    
}

.header-info--dan{
    position: absolute;
    left: 6rem;
    top: 5.5rem;
}


.header-text--graduate{
    opacity: 50%;
    font-style: italic;
    font-size: 0.9rem;
}

blockquote{
    padding-top: 0.9rem;
    text-align: left;
    opacity: 50%;
    font-style: italic;
    font-size: 1rem;
}

h2{
    font-size: 1.3rem;
    letter-spacing: 1.5px;
}



@media (min-width:1025px)  {
    main{
        display: flex;
        height: 100vh;
        background-color: var(--Light-grayish-blue);
        align-items: center;
        justify-content: center;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .container{
        height: fit-content;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "dan dan jona kira"
            "jane pat pat kira" 
        ;
        grid-gap: 0.1rem;
        justify-content: center;
        align-content: center;
        
    }
    .container-info--dan{
        margin: 0.5rem 1rem 1rem 1rem;
    }
    .container-info--jona{
        margin: 0.5rem 1rem 1rem 1rem;
    }
    
    .container-info--jane{
        margin: 0.5rem 1rem 1rem 1rem;
        
    }
    
    
    .container-info--pat{

        margin: 0.5rem 1rem 1rem 1rem;

    }
    
    
    .container-info--kira{
        margin: 0.5rem 1rem 1rem 1rem;
    }
}


